* {
  text-align: center;
  font-family: Helvetica;
}

.flatiron {
  background-image: url('../images/the-flatiron-building.png');
}

#home {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

nav a {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/*
ul {
  list-style-type: none;
}
*/

#process {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

#designedNY {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer nav {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
}
